body {
  background: $body-color;
}

/* Make selected text gold on a red background */
::-moz-selection {
  color: $grey;
  background: $green;
}

::selection {
  color: $grey;
  background: $green;
}

a {
  transition: all .4s ease;
}