@at-root {
  @include font-face("Nunito", "~/assets/fonts/nunito/nunito-v9-latin-regular");
  @include font-face("NunitoBold", "~/assets/fonts/nunito/nunito-v9-latin-700", 700);
}

body {
  font-family: Nunito, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.7;
}

.content {
  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table{
    &:not(:last-child){
      margin-bottom: 1.5em;
    }

    a {}
  }
}