.block{
  transition: opacity ease-out .6s, $ease-bounce-down .6s;

  &.block-in-setup {
    opacity: 0;
    transform: translateY(-200px);
  }

  &.block-in {
    opacity: 1;
    transform: translateY(0px);
  }

  &.block-out {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity $ease-bounce-up .4s, $ease-bounce-up .6s;
  }

  &.translate-block-in-setup {
    opacity: 0;
    transform: translateY(-200px);
  }

  &.translate-block-in {
    opacity: 1;
    transform: translateY(0px);
  }

  &.translate-block-out {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity $ease-bounce-up .4s, $ease-bounce-up .6s;
  }

  &.scale-block-in-setup {
    opacity: 0;
    transform: scale(.5);
  }

  &.scale-block-in {
    opacity: 1;
    transform: scale(1);
  }

  &.scale-block-out {
    opacity: 0;
    transform: scale(.5);
    transition: opacity $ease-bounce-up .4s, $ease-bounce-up .6s;
  }
}

// Filters
.filter-leave-to {
  @extend .pt-page-rotateFall;
}

.filter-enter-active {
  @extend .pt-page-scaleUp;
}

/* animation sets */

.pt-page-scaleUp {
  -webkit-animation: scaleUp .7s ease both;
  animation: scaleUp .7s ease both;
}

@keyframes scaleUp {
  from { opacity: 0; -webkit-transform: scale(.8); }
}

.pt-page-rotateFall {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-animation: rotateFall 1s both ease-in;
  animation: rotateFall 1s both ease-in;
}

@keyframes rotateFall {
  0% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
  20% { -webkit-transform: rotateZ(10deg); transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
  40% { -webkit-transform: rotateZ(17deg); transform: rotateZ(17deg); }
  60% { -webkit-transform: rotateZ(16deg); transform: rotateZ(16deg); }
  100% { -webkit-transform: translateY(100%) rotateZ(17deg); transform: translateY(100%) rotateZ(17deg); }
}
