@import "../../node_modules/bulma/sass/utilities/initial-variables";

// Navbar
$navbar-height: 0;

// Spaces
$space-xs: 5px;
$space-s: 10px;
$space-m: 20px;
$space-l: 30px;
$space-xl: 40px;
$space-xxl: 60px;


$title-color: rgba(0,0,0,0.1);

$fa-font-path: "../../node_modules/font-awesome/fonts";