@import "../../node_modules/bulma/sass/utilities/initial-variables";

// Navbar
$navbar-height: 0;

// Spaces
$space-xs: 5px;
$space-s: 10px;
$space-m: 20px;
$space-l: 30px;
$space-xl: 40px;
$space-xxl: 60px;
$gap: $space-l;

// Control
$control-radius: 10px;


$title-color: rgba(0,0,0,0.1);
$body-color: #2f2f2f;
$text-light: rgba(255, 255, 255, .4);

$magenta: #ff3860;
$green: #00ff6a;

$primary: $green;
$primary-invert: $body-color;

// Tabs
$tabs-border-bottom-color: lighten($body-color, 7%);
$tabs-link-hover-border-bottom-color: $text-light;
$tabs-link-hover-color: $text-light;


$fa-font-path: "../../node_modules/font-awesome/fonts";

// Easing
$ease-bounce-down: cubic-bezier(0.175, 0.885, 0.32, 1.300);
$ease-bounce-up: cubic-bezier(0.6, -0.28, 0.735, 0.045);


