.article {

  @include mobile {
    h1.is-1 {
      font-size: 2rem;
    }
    h2.is-2 {
      font-size: 1.8rem;
    }
    h3.is-3 {
      font-size: 1.5rem;
    }
  }

  //@include article-header(#3c3c3c);
  .article-header__wrapper{
    position: relative;
    &:before {
      content: '';
      @include position(absolute, -200px -50vw 0);
      width: 300vw;
      z-index: -1;
      background-image: linear-gradient(180deg, shade(#3c3c3c, 20%), #3c3c3c 71%, lighten(#3c3c3c, 15%));
    }
  }

  //&.article--javascript {
  //  @include article-header($color-js);
  //}
  //
  //&.article--php {
  //  @include article-header($color-php);
  //}

  .article__header {
    .block {
      overflow: visible;
      position: relative;

      * {
        color: rgba(255, 255, 255, .7);
      }

      img {
        border-radius: 10px;
        max-width: 100%;
      }
    }

    .block:first-child {
      margin-bottom: 0;
    }

    .block .block__header {
      background: none;
      @include padding($space-s 0 0);
      @include tablet {
        @include padding($space-m 0 0);
      }

      .article-meta > .column {
        //@include margin(null $gap/2);
        i {
          @extend .is-size-5;
          @include position(relative, 2px null null 12px);
        }
      }
    }

    .block .block__body {

      background: none;
      @include padding($space-s 0 $space-xl);
      @include tablet {
        @include padding($space-m 0 $space-xxl);
      }

      .table-of-contents {
        background: lighten($body-color, 7%);
        border-radius: 10px;
        padding: $gap;
        height: calc(100% - 60px);

        @include until($desktop) {
          display: none;
        }

        ol {
          list-style: none;
          li:not(:last-child) {
            margin-bottom: $space-s;
          }
          li:last-child {
            a:before {
              display: none;
            }
            span {
              margin-right: $space-s;
              font-size: 1.2rem;
              padding: 3px;
              height: 25px;
              i {
                padding: 0;
              }
            }
          }
          a {
            &:not(.disqus-comment-count) {
              padding-left: 40px;
            }
            position: relative;
            display: inline-block;
            cursor: pointer;

            &:before {
              content: attr(data-index);
              @extend .tag;
              @extend .is-info;
              width: 25px;
              @include position(absolute, 0 null null 0);
            }

            &:hover {
              &:before {
                text-decoration: none;
              }
            }

            .text {
              cursor: pointer;
            }
          }
        }
      }

      .social-sharing {
        margin-top: 0;
        @include desktop {
          margin-top: $space-m;
        }
        span {
          cursor: pointer;
          i {
            //color: lighten($body-color, 7%);
            font-size: 30px;
          }
        }
      }
    }
  }

  .article__content {
    margin-top: $space-xl;

    .article-links {
      margin-top: -58px;
      margin-bottom: 0;
      overflow: visible;
      height: 36px;
      .buttons {
        margin-bottom: 0;
      }

      a {
        border-radius: 10px;
        margin-right: 0 !important;
        margin-bottom: 0;
        .icon {
          transition: all .3s ease;
        }
        //&:hover {
        //  .icon {
        //    transform: scale(1.5);
        //  }
        //}
      }

      @include from(500px) {
        margin-top: -63px;
        height: 45px;
        a {
          font-size: 1.25rem;
        }
      }
      //@include desktop {
      //  margin-top: -68px;
      //  height:54px;
      //  a {
      //    font-size: 1.5rem;
      //  }
      //}
    }

    .social-sharing {
      position: relative;
      padding-top: 15px;

      span {
        cursor: pointer;
        i {
          color: lighten($body-color, 7%);
          font-size: 30px;
        }
      }
    }

    *:not(.paragraph--code) + .social-sharing {
      margin: 70px auto 0;
      padding-top: 20px;
      &:before {
        content: '';
        @include position(absolute, 0 null null);
        @include size(200px, 1px);
        border-top: 1px solid lighten($body-color, 7%);
      }
    }

    .paragraphs {
      background: white;
      max-width: $fullhd;
      border-radius: 10px;
      margin: $space-xl auto $space-m;
      @include padding($space-xs null $space-m);
      @extend .is-size-5;

      .paragraph__container {
        @include padding(0 $gap);
        @include tablet {
          @include padding(0 60px);
        }
        @include desktop {
          @include padding(0 150px);
        }
        @include widescreen {
          @include padding(0 200px);
        }
        @include fullhd {
          @include padding(0 250px);
        }
      }

      .paragraph {
        padding-top: $space-xxl;
        position: relative;
        &.paragraph--code {
          padding-top: $space-l;
        }
      }

      .paragraph--code + .paragraph--text {
        padding-top: $space-l;
      }

      h2 {
        color: $body-color;
        margin: 0 0 $space-l;

        a {
          position: relative;
          color: $body-color;

          &:hover,
          &:focus {
            color: $body-color;
          }

          &:before {
            content: '#';
            opacity: .1;
            @include position(absolute, -5px null null -22px);
            transition: opacity .5s ease;

            @include tablet {
              left: -30px;
            }
          }
        }
      }

      .paragraph--image {
        img {
          margin: auto;
          z-index: 999;
          position: relative;
          cursor: pointer;
          transition: all .5s ease;
          max-width: 820px;

          &.zoom {
            transform: scale(1.4);
          }
        }

      }

      .paragraph--quote {
        blockquote {
          border-left: 3px solid rgba(0, 0, 0, .84);
          padding: $space-xs 0 $space-xs $space-l;

          cite {
            text-align: right;
            display: block;
          }
        }
      }

      .paragraph--code {
        .code__block {
          position: relative;
        }

        .code__header {
          @extend .paragraph__container;
          @include position(absolute, 0 0 null 0);
          height: 10px;
          border-radius: 0 0 10px 10px;
          background: #fff;
          text-align: right;
          span {
            @include position(relative, 20px null null null);
            text-transform: uppercase;
            font-size: .75rem !important;
            @extend .tag;
            @extend .is-dark;
          }
        }

        .toolbar-item {
          @extend .paragraph__container;
        }
        pre.code-toolbar > .toolbar {
          top: 25px;
          left: 0;
          font-size: $size-6;
          a {
            padding: 3px 10px !important;
          }
        }

        .code__body {
          background: $body-color;
          pre {
            background: none !important;
            @include padding($space-l null $space-xxl);
            margin: 0;
          }

          pre, code {
            font-size: .85em;
            .tag:not(body) {
              background: none;
              padding: 0;
            }
            .token.attr-name {
              padding-left: .75em;
            }
            .number {
              font-size: 0.85rem;
              background: none;
            }

            &.language-bash {
              .token.function {
                color: #ccc;
              }
            }

            .token.block-comment, .token.cdata, .token.comment, .token.doctype, .token.prolog {
              color: #5f5f5f;
            }

          }
        }

        .code__footer {
          @include position(absolute, null 0 0 0);
          height: 10px;
          border-radius: 10px 10px 0 0;
          background: #fff;
        }
      }

      .code:not(.code--1-block) {
        .code__block {
          &:first-child .code__footer {
            display: none;
          }

          &:last-child .code__header {
            background: none;
            border-top: 1px solid $grey;
            //top: -5px;
          }
        }
      }

    }
  }

  #disqus_thread {
    margin: $space-l 0;
    @include padding(0 $gap);
    @include tablet {
      @include padding(0 60px);
    }
    @include desktop {
      @include padding(0 150px);
    }
    @include widescreen {
      @include padding(0 200px);
    }
    @include fullhd {
      @include padding(0 250px);
    }
  }
}

