.block {
  background: lighten($body-color, 7%);
  border-radius: 10px;
  overflow: hidden;

  .block__header {
    margin-bottom: 0 !important;
    background: lighten($body-color, 15%);
    @include responsive-padding;

    &.title,
    .title{
      color: $body-color;
    }

    .title.is-1 {
      font-size: $size-5;
      @include tablet{
        font-size: $size-3;
      }

      &.is-spaced {
        margin-bottom: 0;
        @include tablet{
          margin-bottom: .5rem;
        }
      }
    }

    .title.is-3 {
      font-size: $size-5;
      margin: 0;
      @include tablet{
        font-size: $size-4;
      }
    }

    .subtitle {
      display: none;
      color: $grey-light;
      font-size: $size-6;
      margin-top: 0;

      @include tablet{
        display: block;
      }
    }
  }

  &.block--filters {
    .field.is-grouped {
      justify-content: center;
    }

    .block__body--category {
      padding-bottom: 0;
      position: relative;
      &:after {
        content: '';
        @include position(absolute, null $gap -8px);
        border-bottom: 1px solid $body-color;

      }
    }
  }

  .block__body {
    @include responsive-padding;
    *{
      color: $text-light;
    }

    a {
      transition: all .4s ease;
      &:hover {
        color: $white;
      }
    }
  }

  .block__footer {
    @include responsive-padding;
  }
}

.block--white {
  background: $white;
}

.block--transparent {
  background: transparent;
}

.block--notification {
  .notification>.delete {
    top: 10px;
    right: 10px;
  }
}


.block--card {
  padding: 0;
  overflow: hidden;
  margin-top: $gap;
  height: 100%;

  .card-footer .footer {
    padding-bottom: 0 !important;
  }

  .works & {
    height: auto;
  }
}

.block--no-results {
  padding: $space-m;
  text-align: center;
  font-size: $size-5;
  color: lighten($body-color, 20%);
  .emoticon {
    font-size: 3.5rem;
  }
}

.block--emoticon {
  font-size: 3.5rem;
}

.pager,
.block--pager {
  padding: 0;
  overflow: hidden;
  border-radius: 8px;
}