.card {
  height: 100%;
  position: relative;
  transition: all 0.4s ease;
  top: 0;
  background: lighten($body-color, 7%);

  .columns & {
    height: 100%;
  }

  .thumbnail {
    max-height: 220px;
    overflow: hidden;
  }

  img {
    object-fit: cover;
  }

  .image.is-square {
    background-color: whitesmoke
  }

  .description {
    font-style: italic
  }

  .card-inner {
    position: relative;
  }

  .title {
    color: $grey-light;
  }

  .card-footer {
    border: 0;

    .footer {
      padding: 0 1.5rem 1.5rem;
      background: none;
      width: 100%;
    }
  }
}

.card--work {

  .card-content {
    @include padding(0);
    > div {
      @include position(absolute, 0);
      @include padding($space-s);
      transition: all .4s ease;
    }
  }

  .title {
    display: block;
    color: rgba(255, 255, 255, .6);
    width: 100%;
    padding: $space-s;
    font-size: $size-5;
  }

  .is-grouped-multiline {
    width: 100%;
  }

  .card-header {
    box-shadow: none;
  }

  .card-image {
    overflow: hidden;
    border: 0;
    figure {
      border: 0;
      position: relative;
      pointer-events: none;

      span.img {
        @include position(absolute, 0);
        display: block;
        transition: transform 1s ease, opacity .4s ease;
        border: 0;
        transform: scale(1.05) rotate(0deg);
        background-size: cover;
        background-position: center;
      }

      span.overlay {
        content: '';
        @include position(absolute, 0);
        display: block;
        z-index: 9;
        opacity: 1;
        transition: all 1s ease .4s;
        &:before {
          //@include loader;
          //position: absolute;
          //top: calc(45% - 15px);
          //left: calc(50% - 15px);
          //width: 30px;
          //height: 30px;
          //border-width: 2px;
        }
      }

      span.img[lazy=loaded] + span.overlay {
        opacity: 0;
      }
    }
  }

  .description {
    display: none;
    height: 100%;
    align-items: center;
    overflow: hidden;

    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .control {
        @include margin($space-xs null);
        transform: translateY(-50px);
        opacity: 0;

        @for $i from 0 through 10 {
          &:nth-child(#{$i}) {
            transition: all .4s $ease-bounce-up #{$i * 0.05}s;
          }
        }
      }
    }
  }

  .no-touchevents & .description {
    display: flex;
  }

  .no-touchevents &:hover {
    .card-image span.img {
      transition: transform 2s ease, opacity .4s ease;
      transform: scale(1.4) rotate(15deg);
      opacity: .1;
    }

    .description section {
      .control {
        transform: translateY(0);
        z-index: 9;
        opacity: 1;
        //transition-timing-function: $ease-bounce-down;
        @for $i from 0 through 10 {
          &:nth-child(#{$i}) {
            transition: opacity .4s $ease-bounce-down #{$i * 0.05}s, transform .4s $ease-bounce-down #{$i * 0.05}s;
          }
        }
      }
    }
  }
}

.card.card--work {
  figure {
    background: #000;
  }
}

.card--article {

  //background: $white;
  transition: all 0.4s ease;

  .title {
    //color: $body-color;
    margin-bottom: 0;
  }

  .image {
    overflow: hidden;
    img{
      transition: all 0.4s ease;
    }
  }

  &:hover {
    background: lighten($body-color, 15%);
    //background: $white;
    img{
      transform: scale(1.2);
    }

  }

}


