.hint--success:after {
  background-color: $green !important;
  color: darken($green, 30%) !important;
  text-shadow: none !important;
 }

.hint--success.hint--top-left:before {
  border-top-color: $green !important; }

.hint--success.hint--top-right:before {
  border-top-color: $green !important; }

.hint--success.hint--top:before {
  border-top-color: $green !important; }

.hint--success.hint--bottom-left:before {
  border-bottom-color: $green !important; }

.hint--success.hint--bottom-right:before {
  border-bottom-color: $green !important; }

.hint--success.hint--bottom:before {
  border-bottom-color: $green !important; }

.hint--success.hint--left:before {
  border-left-color: $green !important; }

.hint--success.hint--right:before {
  border-right-color: $green !important; }