.navbar.is-fluid {
  @extend .container;
  position: fixed;
  top: 0px;
  left: $gap / 2;
  right: $gap / 2;
  width: auto;
  z-index: 100;
  background: lighten($body-color, 5%);
  border-radius: 0 0 15px 15px;
  //border: 1px solid rgba(0,0,0,0.75);
  border-top: 0;
  transition: all .4s ease;

  body.scrolled &,
  .is-active-menu & {
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  }

  @include tablet{
    left: $gap;
    right: $gap;
  }
  @include fullhd{
    max-width: #{$fullhd - ($gap * 2)} !important;
  }

  .navbar-brand {
    margin-left: 0 !important;
    a.navbar-item {
      font-size: $size-6 !important;
      padding-left:0;
      span:first-child {
        margin-right: 5px;
      }
    }
  }

  .navbar-item {
    color: rgba(255, 255, 255, 0.6);
    transition: all .4s ease;
    padding: $space-s $space-m;
    font-family: NunitoBold, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: $size-4;
    text-align: center;
    position: relative;

    &:after {
      content: '';
      @include position(absolute, null null 0 50%);
      @include size(0, 2px);
      background: $green;
      opacity: 0;
      transition: all .4s ease;
    }

    &:hover, &:focus, &.nuxt-link-exact-active {
      color: rgba(255, 255, 255, 1);
      //color: $green;
      background: transparent;
    }

    &.social-icon {
      font-size: 1.7rem;
      padding-right: 0;
    }

    &.social-icon:first-child {
      padding-left: 0;
    }

    @include desktop{
      font-size: $size-6;
    }

    &.is-active {
      color: $green;
      background: none;
      @include desktop{
        &:not(.home-link):after {
          opacity: 1;
          width: 100%;
          left: 0;
        }
      };
    }
  }
}

.navbar-menu{
  height: 0;
  transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275) .6s;
  overflow: hidden;
  background: transparent;
  margin-right: 0!important;
  box-shadow: none;

  @include touch{
    display: block;
    padding:0;
  }

  &.is-active {
    //height: calc(100vh - 90px);
    height: 380px;
    //height: 190px;

    .navbar-start {
      position: relative;
      padding-bottom: 1em;
      margin-bottom: 0.6em;

      &:after {
        content: '';
        display: block;
        @include position(absolute, null null 0 50%);
        @include size(140px, 1px);
        background: $grey;
        margin-left: -70px;
      }
    }
  }

  .navbar-end {
    display: flex;
    justify-content: center;
  }


  @include desktop{
    height: auto;
  }
}

.navbar-burger {
  position: relative;
  right: 0;
  top: 0;
  z-index: 9998;
  cursor: pointer;
  padding: 5px 4px;
  background-color: transparent;
  width: 45px;
  height: 48px;

  i {
    display: block;
    width: 35px;
    height: 2px;
    margin: 8px;
    background-color: hsla(0,0%,100%,.4);
    border-radius: 20%;
  }

  i:nth-child(n) {
    transition: transform .45s cubic-bezier(.43, .77, .15, 1.5), background .3s ease;
  }

  &:hover {
    background: transparent;

    i:nth-child(1) {
      transform: translateY(-2px);
    }
    i:nth-child(3) {
      transform: translateY(2px);
    }
  }

  &.is-active {
    i:nth-child(1) {
      transform: translateY(10px) rotate(135deg) scale(1.0);
    }
    i:nth-child(2) {
      opacity: 0;
    }
    i:nth-child(3) {
      transform: translateY(-10px) rotate(-135deg) scale(1.0);
    }
  }
}
