.page {
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
  position: relative;

  &:before {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 62px;
    background: #2a2a2a;
    z-index: 3;
  }
}

