.tags {
  .tag {
    transition: all .4s ease;
  }
  @include tag-color();
}

.tags--sass,
.tags--css3_sass {
  @include tag-color($bg-color-active: $color-css, $text-color-active: $white);
}

.tags--php{
  @include tag-color($bg-color-active: $color-php, $text-color-active: $white);
}

.tags--angular{
  @include tag-color($bg-color-active: $color-angular, $text-color-active: $white);
}

.tags--cakephp{
  @include tag-color($bg-color-active: #d33c44, $text-color-active: $white);
}

.tags--vue_js{
  @include tag-color($bg-color-active: $color-vuejs, $text-color-active: $body-color);
}

.tags--mysql{
  @include tag-color($bg-color-active: #01758f, $text-color-active: $white);
}

.tags--backbone_js{
  @include tag-color($bg-color-active: #0271b5, $text-color-active: $white);
}

.tags--ui_ux_animation{
  @include tag-color($bg-color-active: #ea6d12, $text-color-active: $white);
}

.tags--map{
  @include tag-color($bg-color-active: #DD6200, $text-color-active: $white);
}

.tags--community{
  @include tag-color($bg-color-active: #4db4bd, $text-color-active: $body-color);
}

.tags--js,
.tags--javascript{
  @include tag-color($bg-color-active: $color-js, $text-color-active: $body-color);
}

.tags--node_js,
.tags--nodejs{
  @include tag-color($bg-color-active: $color-node, $text-color-active: $white);
}

.tags--css{
  @include tag-color($bg-color-active: $color-css, $text-color-active: $white);
}

.tags--html5,
.tags--html{
  @include tag-color($bg-color-active: $color-html, $text-color-active: $white);
}

.tags--drupal_6,
.tags--drupal_7,
.tags--drupal_8{
  @include tag-color($bg-color-active: $color-drupal, $text-color-active: $white);
}

.tags.reset {
  .tag.is-delete {
    background: transparent;
    border-left: 0;
    color: $grey-lighter !important;
  }

  &:hover .tag.is-delete {
    background: lighten($body-color, 3%);
  }
}