.tags {

  .tag {
    background: $body-color;
    color: $grey-lighter;
    transition: all .4s ease;
    //border: 1px solid $body-color;
  }

  &.is-active .tag {
    background: $green;
    border-color: $green;
    color: $black;
  }

  &:hover .tag {
    background: $green;
    border-color: $green;
    color: $black;
  }

  .tag.is-delete {
    background:shade($green, 30%);
    border-left: 0;
    color: $black;
  }

  &:hover .tag.is-delete {
    background: $green;
  }
}