.hello {
  margin: 40px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 300px);

  .block {
    padding: $space-s !important;
    margin-bottom: 0;
  }

  .emoticon {
    font-size: 3.5em;
    //transform: rotate(15deg);
    //animation: wave .8s ease infinite;
    //animation: shake .6s infinite linear both;
    display: block;
    margin: auto;
    transform-origin: bottom right;
    @include size(80px);
  }

  h1 {
    font-size: $size-4;
    color: #cfcfcf;
    font-family: NunitoBold, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 0px !important;
  }

  p {
    color: #7a7a7a;
    font-size: $size-5;
  }

  @include tablet {
    h1 {
      font-size: $size-3;
    }
    p {
      font-size: $size-4;
    }
  }

  @keyframes wave {
    50% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(15deg);
    }
  }

  @keyframes shake {
    from, to {
      transform: rotate(-15deg);
    }

    50% {
      transform: rotate(15deg);
    }
  }


}


