.page--services {

  .level {
    justify-content: center;

    .level-left{
      justify-content: center;
      display: flex;
      margin-bottom: 0!important;
    }

    a {
      font-size: $size-3;

      i:before{
        transition: all .4s ease;
      }

      &:hover,
      &:focus {
        background: none;
        i:before {
          color: hsla(0, 0%, 100%, 1);
        }
      }
    }
  }

  .block--transparent{
    border-radius: 0;
    margin-bottom: .5rem;

    &:last-child{
      margin-top: 2em;
    }
  }

  form{
    //label {
    //  @include hide-text();
    //  height: 0;
    //}

    button.button.is-primary{
      transition: all .4s ease;
      background: $primary-invert;
      color: $primary;
      border: 2px solid $primary;
      height: auto;
      padding: 10px 20px;
      margin-bottom: 1rem;

      &:hover, &:focus, &.is-loading {
        background: $primary;
        color: $primary-invert;
        font-weight: 400;
      }
    }

    .input__field {
      position: relative;
      display: block;
      float: right;
      padding: 0.8em;
      width: 60%;
      border: none;
      border-radius: 0;
      background: #f0f0f0;
      color: #aaa;
      font-weight: 400;
      z-index: 2;
    }

    .input__field:focus {
      outline: none;
    }

    .input__label {
      display: inline-block;
      float: right;
      padding: 0 1em;
      width: 40%;
      position: relative;
      color: #696969;
      font-weight: bold;
      font-size: $size-5;
      -moz-osx-font-smoothing: grayscale;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      z-index:2;
    }

    .input__label-content {
      position: relative;
      display: block;
      padding: 1.6em 0;
      width: 100%;
    }

    .graphic {
      position: absolute;
      top: 0;
      left: 0;
      fill: none;
      z-index: 1;
    }

    .help{
      margin-top: -5px;
    }

    .icon {
      color: #ddd;
      font-size: 150%;
    }

    /* Individual styles */


    /* Kozakura */
    .input--kozakura {
      overflow: hidden;
      padding-bottom: 1em;
      position: relative;
      z-index: 1;
      display: inline-block;
      margin: 0;
      width: 100%;
      vertical-align: top;
    }

    .input__field--kozakura {
      background: lighten($body-color, 7%);
      color: $text-light;
      transition: background .4s ease;
      padding: 0 20px;
      margin-top: 20px;
      top: 12px;
      height: 44px;
      line-height: 1.3rem;
      font-size: 1rem;
      left: -1px;
      width: calc(100% - 2px);

      &:focus{
        background: lighten($body-color, 15%);
      }
    }

    textarea.input__field {
      resize: none;
      @include padding(10px null);
      height: 160px;
    }

    .input__label--kozakura {
      width: 100%;
      text-align: left;
      position: absolute;
      top: -3px;
      left: 1px;
      pointer-events: none;
      overflow: hidden;
      padding: 0 20px;
      transform: translate3d(0, 2.75em, 0);
      transition: transform 0.3s;
      font-size: 1rem;
    }

    .input__label-content--kozakura {
      color: #A4A5A6;
      padding: 0.4em 0 0.25em;
      transition: transform 0.3s;
    }

    .input__label-content--kozakura::after {
      content: attr(data-content);
      position: absolute;
      font-weight: 800;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      color: #fff;
      padding: 0.25em 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.85em;
    }

    .graphic--kozakura {
      fill: lighten($body-color, 7%);
      pointer-events: none;
      top: 21px;
      bottom: 0px;
      height: calc(100% - 15px);
      z-index: -1;
      transition: transform 0.7s, fill 0.7s;
      transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    }

    .input--textarea .graphic--kozakura{
      height: 226px;
      top: -3px;
    }

    .input__field--kozakura:focus,
    .input--filled .input__field--kozakura {
      transition: opacity 0s 0.35s;
      opacity: 1;
    }

    .input__field--kozakura:focus + .input__label--kozakura,
    .input--filled .input__label--kozakura {
      transition-delay: 0.15s;
      transform: translate3d(-20px, 10px, 0);
    }

    .input__field--kozakura:focus + .input__label--kozakura,
    .input--filled .input__label-content--kozakura {
      transition-delay: 0.15s;
      transform: translate3d(-20px, 5px, 0);
    }

    .input__field--kozakura.is-danger + .input__label--kozakura {
      transition-delay: 0.15s;
      transform: translate3d(-20px, 5px, 0);
    }

    .input__field--kozakura:focus ~ .graphic--kozakura {
      fill: $green;
      transform: translate3d(-66.6%, 0, 0);
    }

    .input__field--kozakura.is-danger ~ .graphic--kozakura {
      fill: $red;
      transform: translate3d(-66.6%, 0, 0);
    }

  }


}

